		*
		{
			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
/*---------------------------------------------------------------------------------*/		
		#wrapper-div
		{
			width:100%;
			padding-left:10%;
			padding-right:10%;
			background-color:#FAFAFB;
		}
/*---------------------------------------------------------------------------------*/		
		#header-div
		{	 
			width:100%;
			min-height:110px;
			background-color:#A85551;
			line-height:110px;
			text-align:center;
			padding-left:20%;
			margin-bottom:10px;
		}
		#title-div
		{
			font-weight:bold; 
			font-size:60px;
			font-family:verdana;
			color:#FAFAFB;
			float:left;
		}
		#title-image
		{
			padding-right:5%;
			float:right;
			border-color:
		}
/*---------------------------------------------------------------------------------*/	
		#nav-div
		{
			width:100%;
			min-height:25px;
			background-color:#252841;
			margin-bottom:25px;
		}
		.nav-bar
		{
			line-height:10px;
			text-transform:uppercase;
			padding-left:2%;
			font-family:verdana;
			justify-content:space-between;
		}
		.nav-options
		{
			justify-content:space-between;
		}
		li
		{
			display:inline-block;
			padding:20px;
		}
		a
		{
			color:#FAFAFB;
			text-decoration:none;
		}
		
		a:hover
		{
			color:#E3992F;
			background-color:transparent;
		}
/*---------------------------------------------------------------------------------*/	
		#home-body
		{
			width:100%;
			min-height:700px;
			margin-bottom:25px;
		}
		.clearfix::after
		{
			content:"";
			display:block;
			clear:both;
		}
		#intro-div
		{
			width:38%;
			min-height:700px;
			background-color:#E3992F;
			margin-bottom:10px;
			float:left;
			color:#FAFAFB;
		}
		h1
		{
			font-size:60px;
			text-align:center;
			font-weight:bold;
			text-transform:capitalize;
		}
		.body-par
		{
			font-size:44px;
			padding:15px;
			text-align:center;
		}
		.view-location
		{
			justify-content:center;
			align-items:center;
			padding-left:35%;
		}
		.btn
		{
			position:relative;
			display:inline-flex;
			padding:10px 30px;
			background-color:#E3992F;
			color:#252841;
			text-decoration:none;
			letter-spacing:1px;
			overflow:hidden;
		}
		.btn span
		{
			position:relative;
			z-index:1;
		}
		.btn::before
		{
			content: '';
			position:absolute;
			top: var(--y);
			left: var(--x);
			transform:translate(-50%,-50%);
			width:0;
			height:0;
			border-radius:50%;
			background:#FAFAFB;
			transition: width 0.5s, height 0.5s;
		}
		.btn:hover::before
		{
			width:300px;
			height:300px;
		}
		#image-div
		{
			width:60%;
			min-height:700px;
			background-color:#FAFAFB;
			margin-bottom:10px;
			float:right;
			align-items:center;
		}
		#image-slider
		{
			padding-top:50px;
			margin:auto;
			width:800px;
			height:600px;
		}
		#image-slider a
		{
			position:absolute;
		}
		#image-slider a img
		{
			padding:10px;
			border:1px solid #ccc;
			background-color:#FAFAFB;
			width:800px;
			height:600px;
		}
		#image-slider a:nth-of-type(1)
		{
			animation-name:fader;
			animation-delay:3s;
			animation-duration:1s;
			z-index:20;
		}
		#image-slider a:nth-of-type(2)
		{
			z-index:10;
		}
		#image-slider a:nth-of-type(n+3)
		{
			display:none;
		}
		@keyframes fader
		{
			from(opacity:1.0;)
			to(opacity:0.0);
		}
		
/*---------------------------------------------------------------------------------*/		
		#footer-div
		{
			width:100%;
			min-height:80px;
			background-color:#A85551;
			margin-bottom:1px;
		}
		.footer-logo
		{
			text-align:center;
			font-family:arial;
			font-size:35px;
			font-weight:bold;
			color:#FAFAFB;
			line-height:3rm;
			padding-top:10px;
		}
		.socials
		{
			list-style:none;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		.socials-list
		{
			margin-bottom:10px;
		}
		.soc-logo
		{
			text-decoration:none;
			color:#FAFAFB;
			font-size:24px;
		}
		.footer-bottom
		{
			width:100%;
			background-color:#252841;
			padding:10px;
			text-align:center;
		}
		.copy
		{
			text-transform:capitalize;
			font-family:arial;
			color:#FAFAFB;
			word-spacing:2px;
		}
/*---------------------------------------------------------------------------------*/	
		#service-body
		{
			width:100%;
			min-height:1800px;
			margin-bottom:25px;
			background-color:#FAFAFB;
		}
		.clearfix::after
		{
			content:"";
			display:block;
			clear:both;
		}
		#body-images
		{
			width:50%;
			min-height:1800px;
			float:left;
			background-color:#E3992F;
		}
		.observatory-section
		{
			padding:1%;
			width:100%;
			min-height:500px;
			margin-bottom:10px;
		}
		.vista-hermosa-section
		{
			padding:1%;
			width:100%;
			min-height:500px;
			margin-bottom:10px;
		}
		.santa-monica-section
		{
			padding:1%;
			width:100%;
			min-height:700px;
			margin-bottom:10px;
		}
		.mulholland-section
		{
			padding:1%;
			width: 100%;
			min-height: 500px;
			margin-bottom:10px;
		}
		.elysian-park-section
		{
			padding:1%;
			width:100%;
			min-height:500px;
			margin-bottom:10px;
		}
		#location-descr
		{
			text-align:left;
			font-size:130%;
			font-family:verdana;
			align-items:left;
			width:50%;
			float:right;
			color:#252841;
			

		}
		#location-descr a
		{
			color:#E3992F;
		}
		#location-descr a:hover
		{
			opacity:.8;
		}
		#griffith-info
		{
			padding:10%;
			line-height:40px;
		}
		#hermosa-info
		{
			padding:10%;
			line-height:40px;
		}
		#santamonica-info
		{
			padding:10%;
			line-height:40px;
		}
		#mulholland-info
		{
			padding:10%;
			line-height:40px;
		}
		#elysian-info
		{
			padding:10%;
			line-height:40px;
		}
/*---------------------------------------------------------------------------------*/	
		#contact-body
		{
			width:100%;
			min-height:525px;
			margin-bottom:25px;
			background-color:#E3992F;
			font-family:verdana;
			color:#FAFAFB;
		}
		.clearfix::after
		{
			content:"";
			display:block;
			clear:both;
		}
		#contact-title
		{
			padding-top:1%;
			padding-bottom:1%;
			text-align:center;
		}
		#contact-par
		{
			padding-left:10%;
			padding-right:10%;
			padding-bottom:2%;
		}
		#frmSub
		{
			padding-left:10%;
		}
		#frmSub label, input
		{
			font-family:verdana;
		}
		#frmSub input:hover,textarea:hover
		{
			opacity:.8;
		}
